pihole_data_dir/
dnsmasq_data_dir/
minecraft/creative/mc_create
minecraft/survival/mc_norm
wordpress/.env
wordpress/db_data/
wordpress/wordpress
nextcloud/.env
nextcloud/mariadb_data/
nextcloud/nexcloud_data/